.ouvrages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.ouvrage{
    background-color: rgb(35, 33, 33);
    color: white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    max-width: 400px;
    min-width: 400px;
}