<h2>Votre réservation a été annulée</h2>

<p>
    Bonjour,<br>
    Vous aviez réservé l’exemplaire n°{{ exemplaire.id }} du livre :
    <strong>{{ ouvrage.titre }}</strong>.
</p>

<p>
    Vous avez annulé cette réservation. Si vous le souhaitez, vous pouvez effectuer une nouvelle réservation ultérieurement.
</p>

<p>Si vous n'avez pas annulé cette réservation, veuillez contacter notre support dès que possible.</p>
