<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LibraShelf{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('imgs/logo.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- { changed code - déplace les flash AVANT le block body } -->
        <!-- Messages flash -->
        {% for type, messages in app.flashes %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                        <button type="button" class="close" onclick="this.parentElement.style.display='none'">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </body>
</html>